<div class="quiz-card">
  <h2>{{ quiz?.title }}</h2>
  <div>
    <p><strong>Description:</strong> {{ quiz?.description }}</p>
    <p><strong>Created By:</strong> {{ quiz?.createdBy }}</p>
    <p><strong>Created At:</strong> {{ quiz?.createdAt | date }}</p>
    <p><strong>Due Date:</strong> {{ quiz?.dueDate | date }}</p>
    <p>
      <strong>Number of Questions:</strong> {{ quiz?.quizQuestions?.length || 0
      }}
    </p>
    @if(showAttempt) {
    <button class="btn-attempt" (click)="startQuiz()">Attempt Quiz</button>
    } @else {
    <button class="btn-results" (click)="viewResults()">View Results</button>
    }
  </div>
</div>
