<div class="product-tools-container">

    <input type="text" [(ngModel)]="searchString" (input)="handleSearchProducts()"/>

    <div class="cart">
            <img width="40" height="40" src="https://img.icons8.com/ios-glyphs/50/shopping-cart--v1.png" alt="shopping-cart--v1"/>
            <span class="count">{{ cartCount }}</span>    
        </div>
    
</div>

@if (!loading) {
    <div class="products-list">
        @for (item of products; track item.id) {
            <app-product (addToCart)="handleAddToCart($event)" [product]="item"></app-product>
        }
    </div>
}
@else {
    <div>
        <div class="spinner-border text-success" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
}