<app-breadcrumbs
  [breadcrumbs]="[{ label: 'Admin', url: '/admin' }, { label: 'Classes' }]"
></app-breadcrumbs>
<div class="table-list-container">
  <div class="header">
    <h2>Classes List</h2>
    <button id="add-button" (click)="addClass()">Add New Class</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>Class Name</th>
        <th>Subjects</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let classItem of classes">
        <td>{{ classItem.name }}</td>
        <td>
          <ul id="subjects-list">
            <li *ngFor="let classSubject of classItem.classSubjects">
              {{ classSubject.subject.name }}
            </li>
          </ul>
        </td>
        <td>{{ classItem.createdAt | date }}</td>
        <td>{{ classItem.updatedAt | date }}</td>
        <td class="actions">
          <button class="btn btn-primary" (click)="updateClass(classItem)">
            Update
          </button>
          <button class="btn btn-danger" (click)="deleteClass(classItem.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
