<div class="quiz-tools-container">
  <div class="search-container">
    <input
      type="text"
      [(ngModel)]="searchString"
      (ngModelChange)="handleSearchQuizzes()"
      placeholder="Search quizzes..."
      class="search-input"
    />

    <!-- Subject/Class Dropdowns -->
    <ng-container *ngIf="user?.role === 'Teacher'">
      <select
        class="dropdown-input"
        [(ngModel)]="subjectId"
        (ngModelChange)="handleSearchQuizzes()"
      >
        <option [ngValue]="undefined">All Subjects</option>
        <option *ngFor="let sub of subjects" [ngValue]="sub.id">
          {{ sub.name }}
        </option>
      </select>
      <select
        class="dropdown-input"
        [(ngModel)]="classId"
        (ngModelChange)="handleSearchQuizzes()"
      >
        <option [ngValue]="undefined">All Classes</option>
        <option *ngFor="let cls of classes" [ngValue]="cls.id">
          {{ cls.name }}
        </option>
      </select>
    </ng-container>
    <ng-container *ngIf="user?.role === 'Student'">
      <select
        class="dropdown-input"
        [(ngModel)]="subjectId"
        (ngModelChange)="handleSearchQuizzes()"
      >
        <option [ngValue]="undefined">All Subjects</option>
        <option *ngFor="let sub of subjects" [ngValue]="sub.id">
          {{ sub.name }}
        </option>
      </select>
    </ng-container>

    <div class="filters-toggle" *ngIf="!showFilters">
      <button class="show-filters-btn" (click)="toggleFilters()">
        <span class="down-arrow">&#8595;</span> Show Filters
      </button>
    </div>
  </div>

  <div
    class="filters-container slide-filters"
    [class.slide-out]="!showFilters"
    [class.slide-in]="showFilters"
    *ngIf="showFilters"
  >
    <div class="date-filter">
      <label for="createdAtMin">Created At Min:</label>
      <input
        id="createdAtMin"
        type="date"
        [(ngModel)]="createdAtMin"
        (ngModelChange)="handleSearchQuizzes()"
        class="date-input"
      />
    </div>
    <div class="date-filter">
      <label for="createdAtMax">Created At Max:</label>
      <input
        id="createdAtMax"
        type="date"
        [(ngModel)]="createdAtMax"
        (ngModelChange)="handleSearchQuizzes()"
        class="date-input"
      />
    </div>
    <div class="date-filter">
      <label for="dueDateMin">Due Date Min:</label>
      <input
        id="dueDateMin"
        type="date"
        [(ngModel)]="dueDateMin"
        (ngModelChange)="handleSearchQuizzes()"
        class="date-input"
      />
    </div>
    <div class="date-filter">
      <label for="dueDateMax">Due Date Max:</label>
      <input
        id="dueDateMax"
        type="date"
        [(ngModel)]="dueDateMax"
        (ngModelChange)="handleSearchQuizzes()"
        class="date-input"
      />
    </div>

    <div class="checkbox-filter">
      <label> Active Only </label>

      <input
        type="checkbox"
        [(ngModel)]="isActive"
        (ngModelChange)="handleSearchQuizzes()"
      />
    </div>

    <div class="filters-toggle" *ngIf="showFilters">
      <button class="show-filters-btn" (click)="toggleFilters()">
        <span class="up-arrow">&#8593;</span> Hide Filters
      </button>
    </div>
  </div>
</div>

<div *ngIf="loading && quizzes.length === 0" class="loading-container">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <p>Searching quizzes...</p>
</div>

<div *ngIf="!loading || quizzes.length > 0" class="quizzes-list">
  <app-quiz-card *ngFor="let item of quizzes" [quiz]="item" [userId]="user?.userId!" [showAttempt]="user?.role === 'Student'"></app-quiz-card>
</div>

<div
  *ngIf="!loading && quizzes.length === 0 && searchString"
  class="no-results"
>
  <p>No quizzes found for "{{ searchString }}"</p>
</div>
