<app-breadcrumbs
  [breadcrumbs]="[{ label: 'Admin', url: '/admin' }, { label: 'Students' }]"
></app-breadcrumbs>
<div class="table-list-container">
  <div class="header">
    <h2>Students List</h2>
  </div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Class</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.firstName }} {{ student.lastName }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.classe.name }}</td>
        <td class="actions">
          <button (click)="updateStudent(student)">Update</button>
          <button (click)="deleteStudent(student.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
