.form-group {
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.text-danger {
  color: red;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
}
form {
  max-width: 600px;
  margin: 200px auto;
}

button {
  background-color: #e1eaf6;
  border: 1px solid #acafb3;
  color: black;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}
