<header>
  <div class="logo-div">
    <img src="" alt="" />
    <h1>Quizup</h1>
  </div>

  <div class="flex">
    <div class="links-div mr-2">
      <li>
        <a routerLink="/">Dashboard</a>
      </li>
      <li>
        <a routerLink="/quizzes">Quizzes</a>
      </li>
      <li>
        <a routerLink="/notifications">Notifications</a>
      </li>
    </div>

    <div class="flex gap-2">
      @if(username){
      <button class="logout-button" (click)="onLogout()">Logout</button>
      }
      @else{
      <button  class="login-button" routerLink="/auth/login">Login</button>
      }
    </div>
  </div>
</header>


